.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recipe-list-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.recipe-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.recipe-details {
  max-width: 600px;
}

.recipe-name {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.recipe-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

strong {
  color: #333;
}

.comment-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.comment-item p {
  margin: 5px 0;
}

.comment-item strong {
  color: #333;
}
